extends layout

block content
  div(value= curr_room, id="welcome-to-room-dialog")
    h1 Welcome to #{curr_room.name}
    br
    br
    form(name="logout-form", action="/logout", method="post")
      input(type="submit", value="Log out of Account")