extends layout

block content
	div.row
		div.span6(value= curr_room, id="welcome-to-room-dialog")
			h1 Welcome to #{curr_room.name}
			br
			br
			form(name="logout-form", action="/logout", method="post")
				input(type="submit", value="Log out of Account")
		div.span6(id="yelp-search")
			form(name="yelp-criteria", action="/room/" + curr_room._id + "/yelp", method="post")
				| Search for 
				label Category: 
				input(type="text", name="category")
				label City: 
				input(type="text", name="city")
				input(type="submit", value="Submit")


		include _yelp_results
