body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/linedpaper.png');
}

a {
  color: #00B7FF;
}


/* ROOM_INDEX styles */

#inhabitant-profPic{
	width:50px;
}

#welcome-title{
	color: #9D1309;
	padding-bottom: 20px;
}

#create-room{
	padding-top: 130px;
}

#room-list{
	padding-top: 130px;
}

#logout-button{
	margin-top: 10px;
}
